.hero{
    margin:0px 35px;
    margin-top:50px;

}
.hero-text{
    color: white;
    font-size: 55px;
    font-weight: 400;
    line-height: 80px;
    padding-left: 80px;
    margin-top: 100px;
}
.hero-explore{
    display:flex;
    align-items: center;
    gap: 15px;
    width: fit-content;
    margin-top: 15px;
    margin-left: 100px;
    padding: 1px 5px;
    padding-left: 0px;
    border-radius: 60px;
    background-color: white;
    cursor:pointer;
}
.hero-explore img{
    height: 35px;
}
.hero-explore p{
    color: gray;
    font-size: 13px;
    font-weight: 400;
    margin-left: 20px;
}
.hero-dot-play{
    margin-top: 85px;
    display: flex;
    justify-content: space-between;
    
}
.hero-dots{
    display: flex;
    align-items:center;
    gap:23px;
    list-style:none;
}
.hero-dot{
    width: 13px;
    height: 13px;
    background: white;
    border-radius: 7.5px;
    cursor:pointer;
}
.hero-dot.orange{
    background:orangered;

}
.hero-play{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
}
.hero-play img{
    height: 50px;
}
.hero-play p{
    color: white;
    font-size: 15px;
}